# Entornos virtuales y Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Caché de mapas y datos pesados (EXCLUIDO EXPLÍCITAMENTE)
cache/
*.db
*.db-shm
*.db-wal
tiles.db*
osm-server/cache/
*.mbtiles

# Linters, Cobertura y Tests
.mypy_cache/
.pytest_cache/
.ruff_cache/
coverage_html/
.coverage
htmlcov/

# Logs y SO
*.log
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
